<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.datatables.net/2.3.5/css/dataTables.dataTables.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body>
    <div id="app">
        <div class="mb-5 ">
            <nav class="navbar navbar-expand-lg fixed-top mb-3 navbar-dark bg-dark shadow-sm">
                <div class="container">
                    <a class="navbar-brand" href="#">MyDuka</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="/home.html">Home</a>
                            </li>

                            <template v-if="isLoggedIn">
                                <li class="nav-item">
                                    <a class="nav-link" href="/products.html">Products</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/sales.html">Sales</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link active" href="/purchases.html">Purchases</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/dashboard.html">Dashboard</a>
                                </li>
                                <li class="nav-item bg-info rounded-5">
                                    <a class="nav-link" href="" @click="logout">Log out</a>
                                </li>
                            </template>
                            <template v-else>
                                <li class="nav-item">
                                    <a class="nav-link" href="/login.html">Login</a>
                                </li>
                                <li class="nav-item bg-info rounded-5">
                                    <a class="nav-link" href="/register.html">Get Started</a>
                                </li>
                            </template>

                        </ul>
                    </div>
                </div>
            </nav>

        </div>
                <section class="container mt-5">
            <div class="shadow-sm p-4">
                <h3 class="mt-5">Purchases Page</h3>
                <p class="p-4 mb-3">This page displays purchase information </p>
            </div>
        </section>


        <!-- Button trigger modal -->
        <div class="container my-4 text-center mt-3">
            <button type="button" class="btn btn-dark text-white" data-bs-toggle="modal" data-bs-target="#exampleModal">
                + Add Purchase
            </button>

        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="POST" @submit.prevent="addPurchase">

                            <div>
                                <select class="form-select" v-model.number="newPurchase.product_id" required>
                                    <option disabled value="">Select a product</option>
                                    <option v-for="product in products" :value="product.id" class="">
                                        {{ product.name }}
                                    </option>
                                </select>

                            </div>
                            <div class="mb-3">
                                <label for="sp" class="form-label">Stock Quantity</label>
                                <input name="stock_quantity" type="number" class="form-control" id="stock_quantity"
                                    v-model="newPurchase.stock_quantity" required />
                            </div>
                            <div>
                                <p v-model="message">{{message}}</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Add Purchase</button>
                            </div>
                        </form>


                    </div>

                </div>
            </div>
        </div>
        <div>
            <table id="purchasesTable" class="table table-striped">
                <thead>
                    <tr>
                        <th>Purchase Id</th>
                        <th>Product Id</th>
                        <th>Stock Quantity</th>
                        <th>Created at</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="purchase in purchases" :key="purchase.id">
                        <td>{{ purchase["id"]}}</td>
                        <td>{{ purchase["product_id"] }}</td>
                        <td>{{ purchase["stock_quantity"] }}</td>
                        <td>{{ purchase["created_at"] }}</td>
                    </tr>
                </tbody>
            </table>


        </div>
        <footer class="bg-dark text-white mt-5 pt-4 pb-3 position-relative bottom-0 w-100">
            <div class="container">
                <div class="row">

                    <div class="col-md-4 mb-3">
                        <h5 class="fw-bold">MyDuka</h5>
                        <p class="small">
                            Simple and fast inventory & sales management system.
                        </p>
                    </div>

                    <div class="col-md-4 mb-3">
                        <h5 class="fw-bold">Quick Links</h5>
                        <ul class="list-unstyled small">
                            <li><a href="/" class="text-white text-decoration-none">Home</a></li>
                            <li><a href="/products.html" class="text-white text-decoration-none">Products</a></li>
                            <li><a href="/sales.html" class="text-white text-decoration-none">Sales</a></li>
                            <li><a href="/purchases.html" class="text-white text-decoration-none">Purchases</a></li>
                            <li><a href="/dashboard.html" class="text-white text-decoration-none">Dashboard</a></li>
                        </ul>
                    </div>

                    <div class="col-md-4 mb-3">
                        <h5 class="fw-bold">Contact</h5>
                        <p class="small mb-1"><i class="bi bi-envelope"></i> info@myduka.com</p>
                        <p class="small mb-1"><i class="bi bi-phone"></i> +254 700 000 000</p>
                        <p class="small"><i class="bi bi-geo-alt"></i> Nairobi, Kenya</p>
                    </div>

                </div>

                <div class="text-center small mt-3 pt-3 border-top border-light">
                    © 2025 MyDuka Inventory App — All Rights Reserved
                </div>
            </div>
        </footer>


    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/2.3.5/js/dataTables.js"></script>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.7.7/vue.min.js"
        integrity="sha512-PhuYrdDBtBeUjY7KTmjRYFFadw8uXXdTmzZyhCHZewYsqZJ0pxFCwU528jRoil42LXMW3ksegQT5zdjkfiR1IA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.8/axios.js"
        integrity="sha512-+dJa1RvuE8/HFftifMtr7hqixdEkb/DizfXUZAA0pyZeVdNnyZyKy9RnIWi0JSWUznbCNbaQNn0E6nbtrdL+9g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js"
        integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y"
        crossorigin="anonymous"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                isLoggedIn: false,
                newPurchase: {
                    product_id: '',
                    stock_quantity: '',
                },
                purchases: [],
                products: [],
                message: ''
            },
            methods: {
                async logout() {
                    localStorage.removeItem("token");
                    window.location.reload();
                },
                async addPurchase() {
                    try {
                        console.log((this.newPurchase));
                        const headers = { headers: { 'Authorization': `Bearer ${localStorage.getItem('token')}` } }
                        const response = await axios.post('http://127.0.0.1:5001/purchases', {
                            product_id: this.newPurchase.product_id,
                            stock_quantity: this.newPurchase.stock_quantity
                        }, headers);

                        alert("Purchase Added Successfully");
                        this.message = "Purchase Added Successfully";
                        await this.fetchPurchases();

                    } catch (error) {
                        console.error("There was an error!", error);
                        this.message = `Failed to Add Purchase ${error}`;
                    }
                },
                async fetchProducts() {
                    try {
                        const headers = { headers: { 'Authorization': `Bearer ${localStorage.getItem('token')}` } }
                        const response = await axios.get('http://127.0.0.1:5001/products', headers);
                        //console.log(response.data);
                        this.products = response.data;
                    } catch (error) {
                        console.error("There was an error fetching products!", error);
                    }

                },

                async fetchPurchases() {
                    try {
                        const headers = { headers: { 'Authorization': `Bearer ${localStorage.getItem('token')}` } }
                        const response = await axios.get('http://127.0.0.1:5001/purchases', headers);
                        //console.log(response.data);
                        this.purchases = response.data;
                        this.$nextTick(() => {
                            if (this.table) {
                                this.table.destroy();
                            }
                            this.table = new DataTable('#purchasesTable');
                        });

                    } catch (error) {
                        console.error("There was an error fetching products!", error);
                    }
                }
            },


            mounted() {
                this.isLoggedIn = localStorage.getItem('token') !== null;
                if (localStorage.getItem('token') !== null) {
                    this.fetchPurchases();
                    this.fetchProducts();
                } else {
                    alert("Please login to view purchases");
                    window.location.href = 'login.html';
                }
            }
        });

    </script>
</body>

</html>